{% extends 'base.html' %} {% block content %}
<h2>{{search | title }}</h2>
<div class="row">
    {% for result in final_results %}
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="{{result.1}}"><img src="{{result.3}}" alt="" /></a>
            </div>
            <div class="card-content">
                <p>{{result.0}}</p>
            </div>
            <div class="card-action">
                <a href="{{result.1}}" target="_blank"
                    >View listing: Price {{result.2}}</a
                >
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock content%}
