:root {
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: rgb(200, 200, 200);
    --nav-bg-color: rgb(29, 30, 32);
    --purple-color: rgb(180, 118, 247);
    --blue-celestial-color: rgb(23, 212, 191);
    --pink-color: rgb(254, 62, 118);
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 18px;
}
.title {
    color: var(--purple-color);
}
input {
    color: var(--main-text-color);
}
.navbar {
    background-color: var(--nav-bg-color);
}
.nav-wrapper a {
    color: var(--blue-celestial-color);
}
h1,
h2 {
    text-align: center;
}
i {
    margin-top: 25px;
    color: var(--pink-color);
}
.card {
    height: 400px;
    overflow: hidden;
    background-color: var(--nav-bg-color);
    margin-bottom: 40px;
}

.card-image {
    height: 250px;
    overflow: hidden;
}
.card-content,
.card-action {
    background-color: var(--nav-bg-color);
    color: var(--main-text-color);
}
